{% import 'Backend/Common/_deleteForm.html.twig' as common %}

<div class="col-12 col-md-8 col-lg-9">
	<p class="text-muted mb-2">Parcourir vos commandes passées</p>
	<div class="card">
		<div class="card-header pb-0">
			<nav>
				<div class="nav nav-tabs" id="nav-tab" role="tablist">
					<button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Commandes</button>
					<button class="nav-link" id="nav-payment-tab" data-bs-toggle="tab" data-bs-target="#nav-payment" type="button" role="tab" aria-controls="nav-payment" aria-selected="false">Paiements</button>
				</div>
			</nav>
		</div>
		<div class="card-body">
			<div class="tab-content" id="nav-tabContent">
				<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
					<div class="table-responsive">
						<table class="table table-bordered align-middle">
							<thead>
								<tr>
									<th>Commande</th>
									<th>Date</th>
									<th>Total</th>
									<th>Statut</th>
									<th>Actions</th>
								</tr>
							</thead>
							<tbody>
								{% for order in orders %}
									<tr>
										<td>{{ order.number }}</td>
										<td>{{ order.createdAt|format_datetime('short', 'short') }}</td>
										<td>{{ order.total|format_currency('EUR') }}</td>
										<td>{{ common.status(order.status) }}</td>
										<td>
											<div class="d-flex flex-wrap gap-2">
												<a href="#" class="btn btn-primary">Détails</a>
											</div>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
				<div class="tab-pane fade" id="nav-payment" role="tabpanel" aria-labelledby="nav-payment-tab" tabindex="0">
					<div class="table-responsive">
						<table class="table table-bordered align-middle">
							<thead>
								<tr>
									<th>Transaction</th>
									<th>Date</th>
									<th>Total</th>
									<th>Statut</th>
									<th>Actions</th>
								</tr>
							</thead>
							<tbody>
								{% for payment in payments %}
									<tr>
										<td>Commande:
											{{ payment.orderRef.number }}</td>
										<td>{{ payment.createdAt|format_datetime('short', 'short') }}</td>
										<td>{{ payment.orderRef.total|format_currency('EUR') }}</td>
										<td>{{ common.status(payment.status) }}</td>
										<td>
											<div class="d-flex flex-wrap gap-2">
												{% if payment.status != 'paid' and payment.orderRef.status != 'cancelled' %}
													<a href="{{ path('app.user.orders.paid', {id: payment.id}) }}" class="btn btn-primary">Payer</a>
												{% endif %}
											</div>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
